.content-left{
    float: left;
    width: 70%;
}
.content-right{
    float: right;
}
.home-content{
    width: 1020px !important;
    margin: 0 auto !important;
    padding-top: 40px;
}
.right-rating{
    margin-top: 20px;
}
